<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Page inconnue" %> ⋅ Cours alternatif d'OCaml</title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "code" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <h1><a href="/">Cours alternatif d'OCaml</a></h1>
      <img src="/images/OCaml.svg" alt="Logo OCaml" style="border: none; width: 50px;" />
    </header>
    <% if current_page.data.illus %>
      <section class="illus" style="background-image: url('/images/<%= current_page.data.illus %>')"></section>
    <% end %>
    <main>
      <% if not current_page.data.no_title %>
        <h1><%= current_page.data.title %></h1>
      <% end %>
      <%= yield %>
      <nav>
        <% if current_page.data.prev %>
          <a href="<%= current_page.data.prev %>">⇦ Page précedente</a>
        <% end%>
        <% if current_page.data.next %>
          <a href="<%= current_page.data.next %>">Page suivante ⇨</a>
        <% end%>
      </nav>
    </main>
    <footer>
      <p>Ce cours est modifiable par tous sur <a href="https://github.com/elegaanz/cours-ocaml">GitHub</a>.</p>
      <p>Il est sous licence GPLv3.0.</p>
    </footer>
  </body>
</html>
